:root {
  --main-color: #d7cec7;
  --secondary-color: #efefef;
  --tertiary-color: #c09f80;
  --main-text-color: #565656;
  --secondary-text-color: #76323f;
  --send-message-form: #efefef;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 200;
  color: #15080a;
}

#root {
  height: 100%;
}

.app {
  background-color: black;
  display: grid;
  height: 100%;
  width: 100%;
  border: none;
  grid-template-columns: minmax(400px, 8fr) minmax(200px, 2fr);
  grid-template-rows: 1fr 1fr 60px;
  grid-template-areas:
    'm r'
    'm r'
    'f n';
}

.new-room-form {
  grid-area: n;
}

.rooms-list {
  grid-area: r;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.message-list {
  grid-area: m;
  padding-top: 20px;
}

.send-message-form {
  grid-area: f;
  background-color: red;
}

/* REST OF CSS */
.rooms-list {
  padding: 20px;
  background-color: var(--main-color);
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rooms-list > ul {
  list-style-type: none;
  padding: 0;
  overflow: scoll;
}

.rooms-list li {
  margin: 10px 0;
  display: block;
  width: 100%;
  padding: 10px 0;
}

.rooms-list li:nth-child(odd) {
  background-color: var(--main-color);
}

.rooms-list li::before {
  content: '\203A';
  display: inline-block;
  font-size: 1.5em;
  font-weight: 1000;
  margin-right: 10px;
  color: var(--main-text-color);
}

.rooms-list > h3 {
  margin: 5px 0;
  color: red;
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 20px;
}

a:hover {
  color: #915662;
}

.roomactive a {
  color: #b37783;
  text-decoration: none;
}

.roomactive a::after {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  font-size: 0.8em;
  background-color: rgb(4, 160, 4);
  margin-left: 10px;
  border-radius: 50%;
}

.new-room-form {
  padding: 0 5px;
  background: var(--secondary-color);
  color: var(--main-text-color);
}

.new-room-form form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-room-form input {
  width: 135px;
  background: var(--secondary-color);
  font-size: 16px;
  margin: auto;
}

.new-room-form button {
  background: var(--secondary-color);
  color: var(--main-text-color);
  border: 0;
  font-size: 14px;
}

.new-room-form input::placeholder {
  color: var(--main-text-color);
  font-weight: 200;
}

.new-room-form input:focus {
  outline-width: 0;
}

.new-room-form input {
  border: 0;
}

.new-room-form button {
  border: 0;
}

.message {
  position: relative;
  background: var(--tertiary-color);
  margin: 20px;
  margin-top: 15px;
  padding-top: 0px;
  padding: 0 15px;
  padding-bottom: 10px;
  display: inline-block;
  float: left;
  clear: both;
}

.message::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 1.094em solid transparent;
  border-right-color: var(--tertiary-color);
  border-left: 0;
  border-bottom: 0;
  margin-top: -0.547em;
  margin-left: -1.094em;
}

.message .message-username {
  font-size: 14px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-left: 5px;
  position: relative;
  top: -20px;
}

.message .message-text {
  color: var(--secondary-color);
  line-height: 1.5em;
  position: relative;
  top: -4px;
}

.message-list {
  box-sizing: border-box;
  padding-left: 6px;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background: var(--secondary-color);
  /* margin: -10px; */
  /* padding:  0; */
}

.message-list .join-room {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 34px;
  font-weight: 300;
}

.send-message-form {
  background: var(--send-message-form);
  display: flex;
}

.send-message-form input {
  width: 100%;
  margin-left: 20px;
  border-style: none;
  background: var(--send-message-form);
  font-weight: 200;
  font-size: 20px;
}

input[type='text']:disabled {
  opacity: 0.1;
}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: var(--main-text-color);
}

.help-text {
  position: absolute;
  top: 10px;
}
